.add-new-card {
    width: 300px;
    max-width: 100vw;
    height: 450px;
    border: 6px solid var(--secondary2);
    background-color: var(--secondary4);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary3);
    outline: none;
    position: relative;

    &:focus {
        border-width: 9px;
    }

    &:before {
        content: '';
        width: 10px;
        height: 150px;
        background-color: var(--secondary2);
        position: absolute;
        top: calc(50% - 75px);
        left: calc(50% - 5px);
    }

    &:after {
        content: '';
        width: 150px;
        height: 10px;
        background-color: var(--secondary2);
        position: absolute;
        top: calc(50% - 5px);
        left: calc(50% - 75px);
    }
}
