.faction-selection {
    &__content {
        display: flex;
        align-items: center;
    }
    &__list {
        padding-left: 20px;
        list-style-type: none;
    }

    &__list-item {
        margin-bottom: 10px;
    }
}
